<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Geungbucks</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <section class="login-block">
      <div class="container">
	  <div class="row">
		  <div class="col-md-4 login-sec">
		    <h2 class="text-center">로그인</h2>
{% block content %}
<form method="post" class="login-form" action="/geungbucks/login/">
  {% csrf_token %}
  {% include "form_errors.html" %}
    <div class="form-group" >
      <label for="exampleInputEmail1" class="text-uppercase">아이디</label>
      <input type="text" class="form-control" placeholder="" name="username" id="exampleInputEmail1">
    
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="text-uppercase">패스워드</label>
      <input type="password" class="form-control" placeholder="" name="password" id="exampleInputPassword1">
    </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>로그인 유지</small>
    </label>
    <button type="submit" class="btn btn-login float-right">로그인</button>
  </div>
  
</form>
{% endblock %}

<div class="copy-text"><a href="http://101.101.219.130:8000/geungbucks/signup">계정을 만드세요!</a><br /><br />Created with <i class="fa fa-heart"></i> by GeungJi</div>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="../../static/img/bg.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Sweet Geung's Coffee</h2>
            <p>Best coffee ever! It'll make you happy.</p>
        </div>	
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../static/img/bg.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
          <h2>Sweet Geung's Coffee</h2>
          <p>Best coffee ever! It'll make you happy.</p>
        </div>	
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../static/img/bg.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
          <h2>Sweet Geung's Coffee</h2>
          <p>Best coffee ever! It'll make you happy.</p>        
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</section>
</body>

</html>
